<?xml version = "1.0" encoding = "UTF-8" ?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="actor" class="com.stackroute.domain.Actor" scope="singleton">
        <!--constructor-injection when we don't have setter methods-->
        <!-- <constructor-arg type="java.lang.String" value="Sanju" />
         <constructor-arg type="java.lang.String" value="Male" />
         <constructor-arg type="int" value="56" />-->
        <property name="name" value="Shahid" />
        <property name="gender" value="Male" />
        <property name="age" value="35" />
    </bean>
    <bean id="actor1" class="com.stackroute.domain.Actor" scope="singleton">
        <property name="name" value="Ajay" />
        <property name="gender" value="Male" />
        <property name="age" value="45" />
    </bean>
    <bean id="actor2" class="com.stackroute.domain.Actor" scope="singleton">
        <property name="name" value="Ranvir" />
        <property name="gender" value="Male" />
        <property name="age" value="35" />
    </bean>
    <bean id="movie" class="com.stackroute.domain.Movie" autowire="byName">
        <constructor-arg index="0" ref="actor" />
        <property name="movieName" value="Kite" />
        <property name="genre" value="Romance" />
    </bean>
   <!-- <bean class="com.stackroute.domain.BeanLifecycleDemoBean" scope="singleton"  init-method="customInit" destroy-method="customDestroy">
    </bean>-->
    <!--<bean class="com.stackroute.domain.BeanPostProcessorDemoBean" scope="singleton"  >
    </bean>-->


</beans>